<section class='footer-top'>
  <div class='footer-top__wrapper'>
    <img src="images/spring.svg">
    <p><%= t('footer_top.subtitle') %></p>
    <h2><%= t('footer_top.title') %></h2>
    <button class='js-mailto button button__orange'><%= t('footer_top.cta') %></button>
  </div>
</section>
