<section class='footer-project'>
  <div class='footer-project__wrapper'>
    <p>Next Project</p>
    <h2><a href="<%= current_page.data.next_url %>"><%= current_page.data.next %></a></h2>
  </div>
</section>
