<section class="header full-width no-border">
  <div class="header__wrapper">
    <div class="header__wrapper--logo">
      <p><a href="/">Bº</a></p>
    </div>
    <div>
      <button class='js-mailto button button__white'><%= t('header.contact') %></button>
    </div>
  </div>
</section>
