<meta charset="utf-8">
<title>arepa.co : digital agency solutions</title>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="IE=edge" http-equiv="X-UA-Compatible">


<meta name="description" content="Arepa.co located worldwide, offers a solution for technology, product design and business innovation so you can start, grow or maintain your projects." />
<meta name="keywords" content="product maintenance, technology solutions, web/mobile development, product design, business and product innovation, business goals, research and usability, user interface design, mobile design, user growth" />
<meta name="author" content="metatags generator">
<meta name="robots" content="index, follow">
<meta name="revisit-after" content="2 month">
<meta name="googlebot" content="all, index, follow"/>
<meta name="rating" content="general"/>
<meta name="url" content="//arepa.co/">

<!-- technology solutions, web/mobile development, product design -->
