.hero {
  color: white;
  background: $primary-color;
  height: 70vh;
  background-image: url(/images/oval_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  &__wrapper {
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      padding: 20px 0 50px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    border-right: 1px solid lighten($primary-font-color, 20%);
    height: 230px;
    width: 2px;
    left: 50%;
    top: 60vh;
  }
}
@include respondTo('smartphone') {
  .hero {
    height: 50vh;
    background-size: cover;
    &__wrapper {
      max-width: 100%;
      padding: 30px;
      small {
        align-self: flex-start;
        font-size: 14px;
      }
      h1 {
        font-size: 35px;
      }
    }
    &:after {
      top: 55vh;
      height: 85px;
    }
  }
}
