$primary-color: #29064F;
$secondary-color: #F34400;
$primary-font-color: #666666;
$secondary-font-color: #fff;
$projects-background: #F4F4F4;

$modules-distace: 100px;
$h3-distace: 20px;
$button-padding: 15px 40px;
$big-button-padding: 20px 60px;
$small-button-padding: 15px 20px;

$smartphone: 480px;
$tabletPortrait: 767px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1400px;
